:root {
    --hours: 0deg;
    --minutes: 0deg;
    --seconds: 0deg;
    font-size: 30px;
}

html {
    height: 100%;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
    background-color: black;
}

#circle {
    position: relative;
    transform-origin: center;
    width: 20rem;
    height: 20rem;
    border-radius: 50%;
    background-color: rgb(109, 109, 109);
    border: solid .25rem rgb(199, 199, 199);
    box-shadow: inset .25rem .25rem 0.6rem;
}

#circle::after{
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    width: 0.7rem;
    height: 0.7rem;
    background-color: rgb(109, 109, 109);
    border: solid .15rem white;
    z-index: 3;
}

#hours {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 0.5rem;
    height: 7rem;
    background-color: white;
    transform-origin: center bottom;
    transform: translate(-50%, -100%) rotate(var(--hours));
    border-radius: 1rem;
    z-index: 2;
    box-shadow: .1rem .1rem .25rem;
}

#minutes {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 0.5rem;
    height: 8rem;
    background-color: white;
    transform-origin: center bottom;
    transform: translate(-50%, -100%) rotate(var(--minutes));
    border-radius: 1rem;
    z-index: 1;
    box-shadow: .1rem .1rem .25rem;
}

#seconds {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    width: 0.1rem;
    height: 7rem;
    background-color: white;
    transform-origin: center bottom;
    transform: translate(-50%, -100%) rotate(var(--seconds));
    border-radius: 1rem;
    z-index: 0;
    box-shadow: .1rem .1rem .15rem;
}

@media screen and (max-width: 800px) {
    :root {
        font-size: 15px;
    }
}
@media screen and (max-width: 200px) {
    :root {
        font-size: 5px;
    }
}

@media screen and (max-height: 700px) {
    :root {
        font-size: 15px;
    }
}

@media screen and (max-height: 600px) {
    :root {
        font-size: 13px;
    }
}

@media screen and (max-height: 500px) {
    :root {
        font-size: 11px;
    }
}

@media screen and (max-height: 400px) {
    :root {
        font-size: 10px;
    }
}

@media screen and (max-height: 300px) {
    :root {
        font-size: 5px;
    }
}
